[run]
branch = True
source = app
omit =
    tests/*
    test/*
    app/test_*.py

[report]
show_missing = True
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.: